/***********************************************************
                       Home Page
************************************************************/
/*   3     #    */
/***********************************************************
                        	Mixin
************************************************************/
/*   3     #    */
/***********************************************************
                      Place Holders
************************************************************/
/*   3     #    */
.goat_center, .goat_top_left, .goat_top_right, .goat_bottom_right, .goat_bottom_left {
  content: '';
  display: inline-block;
  border: 11px solid red;
  border-radius: 50%;
  position: absolute; }

.dogs_wrapper .container #section_dogs form p div .span_red, .dogs_wrapper .container #section_dogs form p div .span_blue {
  position: absolute;
  left: 96%;
  color: #fff;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  height: 37px;
  font-size: 14px;
  padding: 8px 10px; }

.wrapper {
  min-height: calc(100vh - 106px);
  width: 100%; }
  .wrapper header {
    text-align: center;
    background-color: #9BE4C8;
    box-shadow: 0px 1px 39px #888888; }
    .wrapper header h1 {
      margin: 0;
      font-size: 80px;
      padding: 25px 0; }
    .wrapper header ul {
      width: 80%;
      margin: 0 auto;
      height: 75px; }
      .wrapper header ul li {
        display: inline-block;
        height: 75px;
        width: 150px;
        position: relative;
        height: 100%; }
        .wrapper header ul li a {
          text-decoration: none;
          color: #000;
          font-size: 30px;
          position: absolute;
          top: 21px;
          left: 0;
          right: 0; }
  .wrapper .container {
    width: 70%;
    height: calc(100vh - 106px - 217px);
    margin: 0 auto;
    position: relative; }

footer {
  text-align: center;
  background-color: #9BE4C8;
  box-shadow: 0px -5px 39px #888888; }
  footer p {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    padding: 30px 0;
    margin: 0; }

.selected {
  background-color: #E3E3E3; }

/***********************************************************
                         Goat Page
************************************************************/
/*   3     #    */
.goat_wrap {
  position: relative; }

.goat_center {
  top: 50%;
  left: 50%; }

.goat_top_right {
  right: 0; }

.goat_bottom_right {
  right: 0;
  bottom: 0; }

.goat_bottom_left {
  bottom: 0; }

/********************************
             Overlay 
********************************/
/*   3     #    */
#overlay {
  content: "";
  position: absolute;
  background-color: #E3E3E3;
  z-index: 1;
  width: 100%;
  height: 100%; }
  #overlay ul li:first-child {
    text-align: center; }
  #overlay ul li {
    list-style: none;
    text-align: center; }
    #overlay ul li h10 {
      font-size: 50px; }
  #overlay > p {
    font-size: 30px;
    width: 85%;
    margin: 0 auto;
    line-height: 40px; }
  #overlay form {
    bottom: 25px;
    position: absolute;
    width: 100%; }
    #overlay form p {
      float: left;
      margin: 0 0 0 12px;
      display: inline;
      font-size: 31px; }
    #overlay form input {
      font-size: 30px;
      height: 30px;
      width: 100px;
      margin: 0 10px 0 7.5%;
      display: inline-block;
      float: left; }
    #overlay form button {
      height: 36px;
      width: 109px;
      font-size: 30px;
      float: left;
      display: inline-block; }

.dot {
  z-index: 2; }

.goat section {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  text-align: center; }
  .goat section h1 {
    text-align: center;
    margin: 0;
    padding-top: 50px;
    font-size: 50px;
    margin: 0 auto; }
  .goat section p {
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    display: block; }

.page_1 {
  top: 0;
  left: 0; }

.page_2 {
  top: 0;
  right: 0; }

.page_3 {
  bottom: 0;
  right: 0; }

.page_4 {
  bottom: 0;
  left: 0; }

/***********************************************************
                        Bunnies Page
************************************************************/
/*   3     #    */
#bunnies_header {
  padding-bottom: 18px; }
  #bunnies_header nav {
    width: 80%;
    margin: 0 auto;
    overflow: hidden; }
    #bunnies_header nav select {
      width: 60%;
      float: left;
      display: none; }
    #bunnies_header nav button {
      height: 21px;
      width: 43px;
      float: left;
      margin-left: 12px;
      display: none; }

/***********************************************************
                         Cats Page
************************************************************/
/*   3     #    */
.cats_container h1 {
  margin: 50px 0 0;
  text-align: center; }
.cats_container h2 {
  font-size: 30px;
  margin: 40px 0; }
.cats_container section ul {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 70px; }
  .cats_container section ul li {
    float: left;
    display: inline-block;
    font-size: 29px;
    text-align: center;
    width: 33%;
    margin-top: 110px; }
    .cats_container section ul li p {
      margin: 0 0 20px; }
    .cats_container section ul li form input {
      width: 20px;
      height: 32px; }
.cats_container section #submit {
  position: absolute;
  display: inline-block;
  left: 50%;
  margin: 50px 0;
  font-size: 25px; }
.cats_container #select_div {
  text-align: center; }
  .cats_container #select_div #cats_select {
    width: 120px;
    margin: 25px 20px 20px 0; }
    .cats_container #select_div #cats_select option {
      font-size: 40px; }

/***********************************************************
                         Dogs Page
************************************************************/
/*   3     #    */
.dogs_wrapper {
  min-height: 100%;
  background-color: mintcream; }
  .dogs_wrapper .container {
    height: calc(100vh - 342px);
    padding-top: 125px;
    background-color: #384047; }
    .dogs_wrapper .container #section_dogs {
      width: 500px;
      height: 527px;
      margin: 0 auto; }
      .dogs_wrapper .container #section_dogs form {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: #fff;
        border-radius: 7px; }
        .dogs_wrapper .container #section_dogs form p {
          width: 100%;
          margin: 0;
          position: relative;
          float: left;
          display: inline;
          font-size: 31px; }
          .dogs_wrapper .container #section_dogs form p label {
            display: block;
            margin-left: calc(20%/2);
            margin-top: 40px;
            margin-bottom: 8px;
            font-size: 16px; }
          .dogs_wrapper .container #section_dogs form p input {
            width: 80%;
            padding: 0;
            border-radius: 6px;
            box-sizing: border-box; }
          .dogs_wrapper .container #section_dogs form p input[type='text'],
          .dogs_wrapper .container #section_dogs form p input[type='password'] {
            margin: 0 calc((20%/2) - 13px) 0 calc(20%/2);
            font-size: 42px; }
          .dogs_wrapper .container #section_dogs form p input[type='text'],
          .dogs_wrapper .container #section_dogs form p input[type='password']:not(.disable_gray) {
            background-color: #F5F5F5; }
          .dogs_wrapper .container #section_dogs form p .disable_gray {
            background-color: rgba(85, 85, 85, 0.48); }
          .dogs_wrapper .container #section_dogs form p div {
            display: none; }
            .dogs_wrapper .container #section_dogs form p div .span_red {
              background-color: #AE121D; }
            .dogs_wrapper .container #section_dogs form p div .span_blue {
              background-color: #2F558E;
              display: none; }
            .dogs_wrapper .container #section_dogs form p div .span_red::after {
              content: '';
              position: absolute;
              top: 50%;
              right: 100%;
              width: 0;
              height: 0;
              border-top: 10px solid transparent;
              border-bottom: 10px solid transparent;
              margin-top: -10px;
              border-right: 10px solid #AE121D; }
            .dogs_wrapper .container #section_dogs form p div .span_blue::before {
              content: '';
              position: absolute;
              top: 50%;
              right: 100%;
              width: 0;
              height: 0;
              border-top: 10px solid transparent;
              border-bottom: 10px solid transparent;
              margin-top: -10px;
              border-right: 10px solid #2F558E; }
            .dogs_wrapper .container #section_dogs form p div .span_blue::after {
              content: '';
              background-image: url("../img/iconmonstr-check-mark-4-32.png");
              position: absolute;
              top: -13px;
              right: -13px;
              width: 32px;
              height: 32px;
              background-color: #fff;
              border-radius: 50%; }
          .dogs_wrapper .container #section_dogs form p input[type='submit'] {
            margin: 44px calc(20%/2) 0;
            height: 70px;
            font-weight: lighter;
            font-size: 25px;
            color: #fff;
            background-color: #2F558E; }

/*# sourceMappingURL=main.css.map */
