/***********************************************************
                       Home Page
************************************************************/
/*   3     #    */

@import 'extends';

.wrapper {
	min-height: calc(100vh - 106px);
	width: 100%;

	header {
		text-align: center;
		background-color: #9BE4C8;
	    box-shadow: 0px 1px 39px #888888;

		h1 {
			margin: 0;
			font-size: 80px;
			padding: 25px 0;
		}

		ul {
			width: 80%;
			margin: 0 auto;
			height: 75px;

			li {
				display: inline-block;
				height: 75px;
				width: 150px;
				position: relative;
				height: 100%;

				a {
					text-decoration: none;
					color: #000;
					font-size: 30px;
					position: absolute;
					top: 21px;
					left: 0;
				    right: 0;
				}
			}
		}
	}

	.container {
		width: 70%;
		height: calc(100vh - 106px - 217px);
		margin: 0 auto;
		position: relative;
	}
}

footer {
	text-align: center;
	background-color: #9BE4C8;
    box-shadow: 0px -5px 39px #888888;

	p {
		font-size: 40px;
		color: #fff;
		font-weight: bold;
		padding: 30px 0;
		margin: 0;
	}
}

.selected {
	background-color: #E3E3E3;
}


/***********************************************************
                         Goat Page
************************************************************/
/*   3     #    */


.goat_wrap {
	position: relative;
}

.goat_center {
	@extend %goat_button;
	top: 50%;
	left: 50%;
}

.goat_top_left {
	@extend %goat_button;
}

.goat_top_right {
	@extend %goat_button;
	right: 0;
}

.goat_bottom_right {
	@extend %goat_button;
	right: 0; bottom: 0;
}

.goat_bottom_left {
	@extend %goat_button;
	bottom: 0;
}


/********************************
             Overlay 
********************************/
/*   3     #    */


#overlay {
	content: "";
	position: absolute;
	background-color: #E3E3E3;
	z-index: 1;
	width: 100%;
	height: 100%;

	ul {

		li:first-child {
			text-align: center;
		}

		li {
			list-style: none;
			text-align: center;


			h10 {
				font-size: 50px;
			}
		}
	}

	> p {
		font-size: 30px;
		width: 85%;
		margin: 0 auto;
		line-height: 40px;
	}

	form {
		bottom: 25px;
		position: absolute;
	    width: 100%;

	    p {
			float: left;
			margin: 0 0 0 12px;
			display: inline;
			font-size: 31px;
		}
		
		input {
			font-size: 30px;
			height: 30px;
			width: 100px;
			margin: 0 10px 0 7.5%;
			display: inline-block;
			float: left;
		}

		button{
			height: 36px;
			width: 109px;
			font-size: 30px;
			float: left;
			display: inline-block;
		}
	}
}

.dot {
	z-index: 2;
}

.goat {

	section {
		width: 100%;
		display: inline-block;
		margin: 0 auto;
		text-align: center;

		h1 {
			text-align: center;
			margin: 0;
			padding-top: 50px;
			font-size: 50px;
			margin: 0 auto;
		}

		p {
			text-align: center;
			font-size: 25px;
		    margin-top: 30px;
		    display: block;
		}
	}
}

.page_1 {
	top: 0; left: 0;
}

.page_2 {
	top: 0; right: 0;
}

.page_3 {
	bottom: 0; right: 0;
}

.page_4 {
	bottom: 0; left: 0;
}

/***********************************************************
                        Bunnies Page
************************************************************/
/*   3     #    */



#bunnies_header {
	padding-bottom: 18px;

	nav {
	    width: 80%;
	    margin: 0 auto;
	    overflow: hidden;

	    select {
		    width: 60%;
		    float: left;
		    display: none;
		}

		button {
		    height: 21px;
		    width: 43px;
		    float: left;
		    margin-left: 12px;
		    display: none;
		}
	}
}



/***********************************************************
                         Cats Page
************************************************************/
/*   3     #    */

.cats_container {

	h1 {
		margin: 50px 0 0;
		text-align: center;
	}

	h2 {
		font-size: 30px;
	    margin: 40px 0;
	}

	section {

		ul {
			list-style-type: none;
			text-align: center;
			display: inline-block;
			width: 100%;
			margin-top: 70px;

			li {
				float: left;
				display: inline-block;
				font-size: 29px;
				text-align: center;
				width: 33%;
				margin-top: 110px;

				p {
					margin: 0 0 20px;
				}

				form {

					input {
						width: 20px;
						height: 32px;
					}
				}
			}
		}

		#submit {
		    position: absolute;
		    display: inline-block;
			left: 50%;
		    margin: 50px 0;
		    font-size: 25px;

		}

	}

	#select_div {
		text-align: center;

		#cats_select {
			width: 120px;
			margin: 25px 20px 20px 0;

			option {
				font-size: 40px;
			}
		}
	}
}




//Mr Robot
//Halt and catch fire


/***********************************************************
                         Dogs Page
************************************************************/
/*   3     #    */

.dogs_wrapper {
	min-height: 100%;
    background-color: mintcream;

	.container {
		height: calc(100vh - 342px);
		padding-top: 125px;
		background-color: #384047;

		#section_dogs {
		    width: 500px;
		    height: 527px;
		    margin: 0 auto;

		    form {
		    	width: 100%;
		    	height: 100%;
		    	position: relative;
		    	background-color: #fff;
			    border-radius: 7px;

				p {
					width: 100%;
					margin: 0;
					position: relative;
					float: left;
					display: inline;
					font-size: 31px;

					label {
						display: block;
						margin-left: calc(20%/2);
					    margin-top: 40px;
					    margin-bottom: 8px;
					    font-size: 16px;
					}

					input {
						width: 80%;
						padding: 0;
					    border-radius: 6px;
					    box-sizing: border-box;

					}

					input[type='text'],
					input[type='password'] {
						margin: 0 calc((20%/2) - 13px) 0 calc(20%/2);
						font-size: 42px;
					}

					input[type='text'],
					input[type='password']:not(.disable_gray) {
						background-color: #F5F5F5;
					}

					.disable_gray {
							background-color: rgba(85, 85, 85, 0.48);
						}

					div {
					    display: none;

						.span_red {
							@extend %dogs_span;
						    background-color: #AE121D;
						}

						.span_blue {
							@extend %dogs_span;
						    background-color: #2F558E;
						    display: none;
						}

						.span_red::after {
							@include dogs_arrow(#AE121D);
						}

						.span_blue::before {
							@include dogs_arrow(#2F558E);
						}

						.span_blue::after {
							content: '';
							background-image: url('../img/iconmonstr-check-mark-4-32.png');
							position: absolute;
						    top: -13px;
						    right: -13px;
						    width: 32px;
						    height: 32px;
					        background-color: #fff;
						    border-radius: 50%;
						}
					}

					input[type='submit'] {
						margin: 44px calc(20%/2) 0;
						height: 70px;
					    font-weight: lighter;
					    font-size: 25px;
					    color: #fff;
					    background-color: #2F558E;
					}
				}
			}
		}
	}
}









