/***********************************************************
                       Home Page
************************************************************/
/*   3     #    */
@import 'extends';

html, body{
  height:100%;
}

.wrapper {
	min-height: calc(100vh - 106px);
	width: 100%;

	header {
		@include text(1em, $text-align: center);
		background-color: $color_header;
	    box-shadow: 0px 1px 39px $color_box-shadow;

		h1 {
			@include text(80px);
			margin: 0;
			padding: 25px 0;
		}

		ul {
			width: 80%;
			margin: 0 auto;
			height: 75px;

			li {
				display: inline-block;
				height: 75px;
				width: 150px;
				position: relative;
				height: 100%;

				a {
					text-decoration: none;
					@include text(30px, $color: $color_anchor);
					position: absolute;
					top: 21px;
					left: 0;
				    right: 0;
				}
			}
		}
	}

	.container {
		width: 70%;
		height: calc(100vh - 106px - 217px);
		margin: 0 auto;
		position: relative;
	}
}

footer {
	@include text(1em, $text-align: center);
	background-color: $color_footer;
    box-shadow: 0px -5px 39px $color_box_shadow;

	p {
		@include text(40px, $weight: bold, $color: $color_footer_p);
		padding: 30px 0;
		margin: 0;
	}
}

.selected {
	background-color: $color_nav_selected	;
}


/***********************************************************
                         Goat Page
************************************************************/
/*   3     #    */


.goat {
	&_wrap {
		position: relative;
	}

	&_center {
		@extend %goat_button;
		top: 50%;
		left: 50%;
	}

	&_top_left {
		@extend %goat_button;
	}

	&_top_right {
		@extend %goat_button;
		right: 0;
	}

	&_bottom_right {
		@extend %goat_button;
		right: 0; bottom: 0;
	}

	&_bottom_left {
		@extend %goat_button;
		bottom: 0;
	}
}


/********************************
             Overlay 
********************************/
/*   3     #    */


#overlay {
	content: "";
	position: absolute;
	background-color: $color_overlay;
	z-index: 1;
	width: 100%;
	height: 100%;

	ul {

		li:first-child {
			@include text(1em, $text-align: center);
		}

		li {
			list-style: none;
			@include text(1em, $text-align: center);



			h10 {
				@include text(50px);
			}
		}
	}

	> p {
		@include text(30px, 40px);
		width: 85%;
		margin: 0 auto;
	}

	form {
		bottom: 25px;
		position: absolute;
	    width: 100%;

	    p {
			@include text(31px);
			float: left;
			margin: 0 0 0 12px;
			display: inline;
		}
		
		input {
			@include text(30px);
			height: 30px;
			width: 100px;
			margin: 0 10px 0 7.5%;
			display: inline-block;
			float: left;
		}

		button{
			@include text(30px);
			height: 36px;
			width: 109px;
			float: left;
			display: inline-block;
		}
	}
}

.dot {
	z-index: 2;
}

.goat {

	section {
		@include text(1em, $text-align: center);
		width: 100%;
		display: inline-block;
		margin: 0 auto;

		h1 {
			@include text(50px, $text-align: center);
			padding-top: 50px;
			margin: 0 auto;
		}

		p {
			@include text(25px, $text-align: center);
		    margin-top: 30px;
		    display: block;
		}
	}
}

.page_1 {
	top: 0; left: 0;
}

.page_2 {
	top: 0; right: 0;
}

.page_3 {
	bottom: 0; right: 0;
}

.page_4 {
	bottom: 0; left: 0;
}

/***********************************************************
                        Bunnies Page
************************************************************/
/*   3     #    */



#bunnies_header {
	padding-bottom: 18px;

	nav {
	    width: 80%;
	    margin: 0 auto;
	    overflow: hidden;
	    
	    ul {
			@media (min-width: 1300px) {
				display: none;
			}

	    }

	    select {
		    width: 60%;
		    float: left;
		    display: none;
		    
		    @media (min-width: 1300px) {
				display: initial;
			}

		}

		button {
		    height: 21px;
		    width: 43px;
		    float: left;
		    margin-left: 12px;
		    display: none;
		    
		    @media (min-width: 1300px) {
				display: initial;
			}

		}
	}
}



/***********************************************************
                         Cats Page
************************************************************/
/*   3     #    */

.cats_container {

	h1 {
		@include text(1em, $text-align: center);
		margin: 50px 0 0;
	}

	h2 {
		@include text(30px);
	    margin: 40px 0;
	}

	section {

		ul {
			@include text(1em, $text-align: center);
			list-style-type: none;
			display: inline-block;
			width: 100%;
			margin-top: 70px;

			li {
				@include text(29px, $text-align: center);
				float: left;
				display: inline-block;
				width: 33%;
				margin-top: 110px;

				p {
					margin: 0 0 20px;
				}

				form {

					input {
						width: 20px;
						height: 32px;
					}
				}
			}
		}

		#submit {
			@include text(25px);
		    position: absolute;
		    display: inline-block;
			left: 50%;
		    margin: 50px 0;

		}

	}

	#select_div {
		@include text(1em, $text-align: center);	

		#cats_select {
			width: 120px;
			margin: 25px 20px 20px 0;

			option {
			@include text(40px);	
			}
		}
	}
}




//Mr Robot
//Halt and catch fire


/***********************************************************
                         Dogs Page
************************************************************/
/*   3     #    */

.dogs_wrapper {
	min-height: 100%;
    background-color: $color_dog_wrapper;

	.container {
		height: calc(100vh - 342px);
		padding-top: 125px;
		background-color: $color_dog_container;

		#section_dogs {
		    width: 500px;
		    height: 527px;
		    margin: 0 auto;

		    form {
		    	width: 100%;
		    	height: 100%;
		    	position: relative;
		    	background-color: $color_form_background;
			    border-radius: 7px;

				p {
					@include text(31px);
					width: 100%;
					margin: 0;
					position: relative;
					float: left;
					display: inline;

					label {
						@include text(16px);
						display: block;
						margin-left: calc(20%/2);
					    margin-top: 40px;
					    margin-bottom: 8px;
					}

					input {
						width: 80%;
						padding: 0;
					    border-radius: 6px;
					    box-sizing: border-box;

					}

					input[type='text'],
					input[type='password'] {
						@include text(42px);
						margin: 0 calc((20%/2) - 13px) 0 calc(20%/2);
					}

					input[type='text'],
					input[type='password']:not(.disable_gray) {
						background-color: $color_input;
					}

					.disable_gray {
							background-color: $color_input_disabled;
						}

					div {
					    display: none;

					    .span {
							&_red {
								@extend %dogs_span;
							    background-color: $color_form_wrong_span;
							}

							&_blue {
								@extend %dogs_span;
							    background-color: $color_form_correct_span;
							    display: none;
							}

							&_red::after {
								@include dogs_arrow($color_form_wrong_span);
							}

							&_blue::before {
								@include dogs_arrow($color_form_correct_span);
							}

							&_blue::after {
								content: '';
								background-image: url('../img/iconmonstr-check-mark-4-32.png');
								position: absolute;
							    top: -13px;
							    right: -13px;
							    width: 32px;
							    height: 32px;
						        background-color: $color_form_center_check;
							    border-radius: 50%;
							}
						}
					}

					input[type='submit'] {
						@include text(25px, $weight: lighter);
						margin: 44px calc(20%/2) 0;
						height: 70px;
					    color: $color_form_center_submit;
					    background-color: 
					    $color_form_background_submit;
					}
				}
			}
		}
	}
}









